<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">

     <title>Jose Perez Home Page</title>

     <meta name="author" content="Jose Perez">
     <meta name="keywords" content="words, words">
     <meta name="description" content="words, words.">
</head>

<body>

     <header>
	<h1>logo</h1>
     </header>

<p>text goes here</p>

<p>This is a fictional site created for a class at <a href="http://www.elcentrocollege.edu/">El Centro College</a> Check out the rest of my <a href="../index.html">site</a>!</p>


     <footer>
	<p><small>&copy;2015, Jose Perez Web Design<br>
              Last  Updated: February 20, 2020</small></p> 
     </footer>

</body>
</html>
